<!DOCTYPE html>

{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'djangoapp/css/style.css' %}">
  </head>
  <body>
    <div class="container">
      <h1>
        Contact Us
      </h1>
      <p>Tony Cars</p>
      <p>1234 Main Street</p>
      <p>Philadelphia street, USA 12345</p>
      <p>Phone: 555-555-5555</p>
      <p>Email: tony_cards@gmail.com
        <a href="mailto:
">
        </a>
      </p>
    </div>
  </body>
</html>